p{
    font-size: 15px;
}
li{
    font-size: 17px;
}
.box {
  background: white;
  border: 1px solid #f0e4d0;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 30px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.box h2 {
  color: #7d370a;
  margin-bottom: 20px;
}

.box-content {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;
}

.box-content img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  background: #eee;
}

.box-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.columns div {
  flex: 1;
  min-width: 200px;
}

.columns h4 {
  margin-bottom: 10px;
  color: #7d370a;
}

.columns ul {
  padding-left: 0;
  list-style: none;
  color: #333;
  font-size: 15px;
}

.soft-bg {
  background-color: #fff7e9;
}

.mini-cards {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.mini-card {
  background: #fff7d5;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  min-width: 200px;
  color: #4b2b07;
  font-size: 14px;
}